.page.theme_light {
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --accent-text-color: #353430;
  --background-color: #FFF1F7;
  --heading-text-color: #353430;
  --outline-color: 1px solid rgba(50, 49, 45, 0.40);
  --background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --accent-text-color: #353430;
    --background-color: #FFF1F7;
    --heading-text-color: #353430;
    --outline-color: 1px solid rgba(50, 49, 45, 0.40);
    --background-image: url(../images/cover-image-light.png);
    }
}

.page.theme_light .rec-indicator {
  display: none;
}
