:root {
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --paragraph-color: #F1B2CE;
  --dark-color: #000028;
  --main-font: 'IBM Plex Mono', sans-serif;
  --base-font-size: 18px;
}